.page {
  margin: 0;
  padding: 0;
  margin-top: 30vh;
  max-width: 1920px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  
  max-width: 720px;
  min-width: 320px;

  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: red;
}

.action {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding: 10px 20px;
  
  max-width: 720px;
  min-width: 320px;
  
  border: grey solid 2px;
  
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.random-button {
  margin: 0;
  padding: 0;
  padding: 10px 40px;

  max-width: 720px;
  min-width: 320px;

  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  
  color: white;
  background-color: black;

  cursor: pointer;
}